{% extends 'base.html' %}
{% block content %}
<h1>cutieshop</h1>

<h5>Name_store: </h5>
<p>{{ name_store }}</p> <!-- Ubah sesuai dengan nama store kamu-->
<h5>Name: </h5>
<p>{{ name }}</p> <!-- Ubah sesuai dengan nama kamu -->
<h5>Class: </h5>
<p>{{ class }}</p> <!-- Ubah sesuai dengan kelas kamu -->
<h5>Stock: </h5>
<p>{{ stock }}</p> <!-- Ubah sesuai dengan kelas kamu -->

...
{% if not product_entries %}
<p>Maaf cutieshop belum jualan produk apapun.</p>
{% else %}
<table>
  <tr>
    <th>name</th>
    <th>price</th>
    <th>description</th>
    <th>stock</th>
  </tr>

  {% comment %} Berikut cara memperlihatkan data mood di bawah baris ini 
  {% endcomment %} 
  {% for product_entry in product_entries %}
  <tr>
    <td>{{product_entry.name}}</td>
    <td>{{product_entry.price}}</td>
    <td>{{product_entry.description}}</td>
    <td>{{product_entry.stock}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_product' %}">
  <button>Add New Product Entry</button>
</a>
{% endblock content %}









